body{
    background-image: url(/ferdi.jpeg);
    background: size 120px;;
 
    background-color:fuchsia;
}
td{

    font-family: 'Courier New', Courier, monospace;color: blueviolet;
    background-color:mintcream;

}
