section{
    display: flex;
flex-wrap: wrap;
justify-content: space-around;
padding: 20px;
height: 120%;
}


.shoes{background-color:#e74a4a;
    border: 1px solid #e80e0e;
    padding: 20px;
    margin: 10px;
    width: 300px;
}

table{font-family: 'Courier New', Courier, monospace;
    font-size: 150%;}